@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.headerimg{
    background-image: url("@/assets/header-bg.png");
    background-repeat: no-repeat;
   background-size: cover;

}
/* second */
.history{
    background-image: url("@/assets/history-bg.png");
    background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   overflow: hidden; /* Hide the overflow content */
  
 
   /* background-position: ; */
}

/* third */
.climb{
    background-image: url("@/assets/footer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

  
