@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

       /* <div class="bg-darkbluebg ">
            <div class="w-4/6 mx-6 lg:w-3/5 border-green-900 border-2 flex justify-center items-center">
            
                <ul class="flex w-full  lg:w-3/6">
                    <li class="w-1/2  text-sm font-oswald hover:bg-gray-500 hover:text-darkbluebg lg:text-base  text-center"> <span class="border-2 border-yellow-900 border-t-0 border-l-0 border-r-0">MOUNTAIN 1</span></li>
                    <li class="w-1/2  text-sm font-oswald hover:bg-gray-500 hover:text-darkbluebg lg:text-base  text-center"><span class="border-2 border-yellow-900 border-t-0 border-l-0 border-r-0">MOUNTAIN 2</span></li>
                </ul>
            </div>
        </div>  */

/* 
        <!-- <h1>helo</h1> -->
        <!-- bject-cover h-screen -->
        <!-- <div  class=" absolute top-20 z-10 border-2 border-red-600">
          <p>LOSANGELES</p>
          <p>MOUNTAINS</p>
        </div> -->
        <!-- <div class="border-2 border-green-900  w-3/6 font-textstyle text-9xl tracking-wide font-semibold absolute top-36 left-80 ">
            <p>LOSANGELES</p>
            <p>MOUNTAINS</p>
         </div>  */

.heading{
    position: relative;
    display: inline-block; 
    
}
.changes{
    /* opacity: 0.9; */
    width: 100%;
    height: auto;
    display: block;
    /* opacity: 0.8; */
}
.notes{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Set text color */
    font-size: 20px; /* Set font size */
    font-weight: bold; /* Set font weight if needed */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add text shadow for better visibility */
    z-index: 1; /* Move the text behind the image */
}
/* second */
.history{
    background-image: url("@/assets/history-bg.png");
    background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   overflow: hidden; /* Hide the overflow content */
  
 
   /* background-position: ; */
}

/* third */
.climb{
    background-image: url("@/assets/footer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* the popup */
.dropdown ul, .dropdown li{
    margin: 0;
    padding: 0;
}
.dropdown ul{
    /* background-color: ; */
    list-style: none;
    width: 100px;
}
.dropdown li{
    position: relative;
    float: left;
    width:auto
}
.dropdown span{
    background-color: green;
    color:white;
    display: block;
    font-weight: bold;
    padding:15px 55px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
}
.dropdown li:hover span{
    background-color: yellow;
}


  
