@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

  /* the slider  */

.section .card .image{
    height:140px;
    width: 140px;
    border-radius: 10%;
    padding: 3px;
    background:grey ;
}
.section .card .image img{
    height:100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10%;
    border:3px solid white;
    cursor: pointer;
}
.card{
    background: white;
    border-radius: 20px;
    margin: 20px 0;
    width:200px
}
.card .card-content{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

  /* the scrolling nav */
.scrolling{
    /* border:2px solid red; */
    background-color: white;
    color:#2c3c4d;
    box-shadow:  0 6px 15px 0 rgba(0, 0, 0, 0.15)
    /* border-bottom:#2c3c4d ; */
    
}
.scrolling li{
    border:2px solid #2c3c4d;
    border-left: none;
    border-right: none;
    border-top: none;
    padding-bottom: 2px;
}
/* second */
.history{
    background-image: url("@/assets/history-bg.png");
    background-repeat: no-repeat;
   background-size: cover;
   background-position-y: 25%;
   /* width: 1; */
   /* position: relative; */
   overflow: hidden; 
  
 
   /* background-position: ; */
}


/* third */
.climb{
    background-image: url("@/assets/footer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* the popup */

.myaccordion a{

    text-decoration: none;
    transition: all 0.3s ease;
}

#Textbox1{
    /* border:2px solid red; */
    left:0;
    opacity: 0;
    position: absolute;
    top:135px;
    display: hidden;
    z-index: 1;
    width:100%;
    background-color: white;
}

li:hover ul#Textbox1{
    background-color: rgba(254, 254, 254, 0.463);
    opacity: 1;
    top:130px;
 
    visibility: visible ;
}
#Textbox1 li{
    float: none;
    /* width: 100%; */
}
#Textbox2{
   
    left:0;
    opacity: 0;
    position: absolute;
    top:135px;
    display: hidden;
    z-index: 1;
    width:100%;
    background-color: white;
}
li:hover ul#Textbox2{
    opacity: 1;
    top:130px;
    visibility: visible ;
    background-color: rgba(254, 254, 254, 0.463);

}
#Textbox2 li{
    float: none;
    /* width: 100%; */
}
@media screen and (max-width: 790px){
    #Textbox1{
        top:40px;
    }
    
    li:hover ul#Textbox1{
        top:40px;
     
    }
    #Textbox2{
        top:40px;
    }
    
    li:hover ul#Textbox2{
        top:40px;
     
    }
}




  
